/* this section will apply to full background */
body{
    background-color: papayawhip; 
    text-align: center;
    color: grey;
}

/* this section will apply to img */
img{
    padding-left:200px; /* this will keep it 200 px to the left no matter where it is opened */
    margin:20px; /* this will move the picture that amount of space over */
   
}

/* this section will apply to header 3 */
h3{
color: blue;
}

/* this section will apply code to the class about me... its a good idea to name the class the same name as the section for organizational purposes */
aboutme{
    color:purple;
}

/* this section will apply the code to the class dark which describes the attribute */
.dark{
    background-color: pink;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
footer{
    background-color: purple;
}